*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.status{
    height: 60vh;
    width: 40vw;
    background-color: darkseagreen;
    border-radius: 5%;
}
.joinGame{
    display:flex;
}
.createGame{
    display:none;
}
.tabSelector{
    height: 10%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 2px black;
}
.tabSelector .seperator{
    border: solid 1px black;
    height: 100%;
}
.tab{
    height: 90%;
    width:100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tab label, .tab input, .tab button, .tab select{
    width: 40%;
}
.tab .formLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.stageContainer{
    width: 100vw;
    height: 100vh;
    display:none;
    align-items: center;
    justify-content: center;
}
.cell{
    height: 20px;
    width: 20px;
    border: solid 0.1px black;
    margin: 0.5px;
}
.endScreen{
    display:none;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay{
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    font-size: x-large;
}